@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy? What privacy? This site is still under construction.</p>
<img src="https://nextcloud.marraz.me/public.php/dav/files/D3q8ZqkRcywJqfL/" alt="" />
