@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Title;
}
<section class="post">
    <h1>@Model.Title</h1>
    <p class="content">
        @Html.Raw(Markdig.Markdown.ToHtml(Model.Content))
        
    </p>
    <a href="/">Back</a>
</section>